*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
    padding-bottom:90px;
}

.header{
    background:#1565C0;
    color:white;
    text-align:center;
    padding:20px;
    border-radius:0 0 20px 20px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.header h1{
    font-size:28px;
    margin-bottom:8px;
}

.header p{
    opacity:.9;
}

.dashboard{
    padding:15px;
}

.saldo{
    text-align:center;
    background:#1565C0;
    color:white;
}

.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
    margin-top:15px;
}

.card{
    background:white;
    border-radius:15px;
    padding:15px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.card h3,
.card h4{
    margin-bottom:8px;
}

.card p,
.card h2{
    font-weight:bold;
    color:#1565C0;
}

#content{
    padding:15px;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

button{
    width:100%;
    padding:12px;
    margin-top:12px;
    border:none;
    border-radius:10px;
    background:#1565C0;
    color:white;
    font-size:15px;
    cursor:pointer;
}

button:active{
    transform:scale(.98);
}

.bottomNav{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-around;
    background:white;
    box-shadow:0 -3px 10px rgba(0,0,0,.15);
    padding:8px 0;
}

.bottomNav button{
    background:none;
    color:#1565C0;
    margin:0;
    padding:5px;
    font-size:13px;
    width:auto;
}

.bottomNav button:hover{
    background:#E3F2FD;
    border-radius:10px;
}

.transaksi{
    background:white;
    padding:15px;
    margin-top:12px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.aksi{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.aksi button{
    flex:1;
}

/* ========================= */
/* DARK MODE */
/* ========================= */

body.dark{
    background:#121212;
    color:#ffffff;
}

body.dark header{
    background:#1f1f1f;
    color:#ffffff;
}

body.dark nav{
    background:#1f1f1f;
}

body.dark .card{
    background:#1f1f1f;
    color:#ffffff;
    box-shadow:none;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark label,
body.dark span{
    color:#ffffff;
}

body.dark input,
body.dark select,
body.dark textarea{
    background:#2b2b2b;
    color:white;
    border:1px solid #555;
}

body.dark button{
    background:#4CAF50;
    color:white;
}

body.dark .transaksi{
    background:#2b2b2b;
    color:white;
    border:1px solid #555;
}

body.dark hr{
    border-color:#555;
}
